In [10]:
## Foreign Key

In [2]:
Comment

blog.models.Comment

In [3]:
comment = Comment.objects.first()

In [4]:
from django.db import connection
connection.queries[-1]

{'sql': 'SELECT "blog_comment"."id", "blog_comment"."post_id", "blog_comment"."author", "blog_comment"."message", "blog_comment"."created_at", "blog_comment"."updated_at" FROM "blog_comment" ORDER BY "blog_comment"."id" ASC  LIMIT 1',
 'time': '0.001'}

In [5]:
comment.post_id

1

In [6]:
comment.post

In [7]:
connection.queries[-1]

{'sql': 'SELECT "blog_post"."id", "blog_post"."title", "blog_post"."content", "blog_post"."tags", "blog_post"."lnglat", "blog_post"."status", "blog_post"."created_at", "blog_post"."updated_at" FROM "blog_post" WHERE "blog_post"."id" = 1',
 'time': '0.000'}

In [11]:
## OneToOneField

In [12]:
Profile

accounts.models.Profile

In [13]:
profile = Profile.objects.first()

In [14]:
connection.queries[-1]

{'sql': 'SELECT "accounts_profile"."id", "accounts_profile"."user_id", "accounts_profile"."phone_number", "accounts_profile"."address" FROM "accounts_profile" ORDER BY "accounts_profile"."id" ASC  LIMIT 1',
 'time': '0.000'}

In [15]:
profile.user.id

1

In [16]:
profile.user

In [17]:
connection.queries[-1]

{'sql': 'SELECT "auth_user"."id", "auth_user"."password", "auth_user"."last_login", "auth_user"."is_superuser", "auth_user"."username", "auth_user"."first_name", "auth_user"."last_name", "auth_user"."email", "auth_user"."is_staff", "auth_user"."is_active", "auth_user"."date_joined" FROM "auth_user" WHERE "auth_user"."id" = 1',
 'time': '0.000'}